/* src/styles/globals.css */

/* Importando a fonte do Google Fonts (deve ser a primeira regra) */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Definindo a fonte padrão */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Lavishly Yours', Arial, Helvetica, sans-serif; /* Aplicando a fonte importada */
}
